
@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<!-- Preloader -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!-- End Preloader -->
<!--Main content-->
<section class="container margin-bottom-50">
    <div class="tm-overflow-hidden row">
        <div class="tm-gallery col-lg-9 col-md-9 col-sm-8 col-xs-12">
            <h3 class="tm-gallery-title">Toyota (53)</h3>
            <div class="">
                <div class="tm-item-price-container">
                <img src="~/webdemo/img//2.jpg" alt="Image">
                <div class="" style="margin-left:30px">
                    <p class="tm-item-description">pellentesque eu,fkdjdjfkd pretium quissem</p><hr>
                    <span class="">$ 50,000</span>>

                    <p>gdgfgffffffffffff</p>
                    <a href="#" class="tm-item-link">
                        <span class="tm-item-action">Add to Cart</span>
                        <img src="~/webdemo/img//plus.png" class="tm-item-add-icon" alt="Image">
                    </a>
                </div>
                </div>
                <h3 class="tm-gallery-title">Toyota (53)</h3>
            </div>
        </div>
        <partial name="_LeftMenuProduct" />
    </div>

    <!--banner-->
    <div class="tm-banner">
        <h2 class="tm-banner-title">Maecenas</h2>
        <p class="tm-banner-description">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium</p>
        <a href="#" class="tm-banner-link"><i class="fa fa-play"></i></a>
    </div>
</section> <!-- Main content -->
