
@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
    <!-- Preloader -->
        <div id="loader-wrapper">
          <div id="loader"></div>
          <div class="loader-section section-left"></div>
          <div class="loader-section section-right"></div>
        </div>
        <!-- End Preloader -->
    
    <section class="container margin-bottom-50">
       <div class="row">
        <h2 class="col-lg-12 text-center text-uppercase margin-bottom-30">Donec pede justo fringilla ulputate eget</h2>
        <p class="col-lg-12 text-center margin-bottom-30">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.</p>
        <div class="col-lg-12 tm-overflow-hidden">
          <div class="tm-img-1-container">
            <img src="~/webdemo/img/0.jpg" alt="Image description">
            <p class="tm-img-1-description">Porsche</p>
          </div>
          <div class="tm-img-1-container">
            <img src="~/webdemo/img/1.jpg" alt="Image description">
            <p class="tm-img-1-description">Mercedes</p>
          </div>
          <div class="tm-img-1-container">
            <img src="~/webdemo/img/0.jpg" alt="Image description">
            <p class="tm-img-1-description">BMW</p>
          </div>
          <div class="tm-img-1-container">
            <img src="~/webdemo/img/1.jpg" alt="Image description">
            <p class="tm-img-1-description">Lexus</p>
          </div>         
        </div>
      </div>
    </section>     

    <!--Main content-->
    <section class="container margin-bottom-50">
      <div class="tm-overflow-hidden row">
        <div class="tm-gallery col-lg-9 col-md-9 col-sm-8 col-xs-12">
          <h3 class="tm-gallery-title">Toyota (53)</h3>          
          <div class="tm-item-container">
            <img src="~/webdemo/img//2.jpg" alt="Image">
            <p class="tm-item-description">pellentesque eu, pretium quissem</p><hr>
            <div class="tm-item-price-container">
              <span class="tm-item-price">$ 50,000</span>
              <a href="#" class="tm-item-link">
                <span class="tm-item-action">Add to Cart</span>
                <img src="~/webdemo/img//plus.png" class="tm-item-add-icon" alt="Image">
              </a>
            </div>
          </div>
          <div class="tm-item-container">
            <img src="~/webdemo/img//2.jpg" alt="Image">
            <p class="tm-item-description">pellentesque eu, pretium quissem</p><hr>
            <div class="tm-item-price-container">
              <span class="tm-item-price">$ 34,000</span>
              <a href="#" class="tm-item-link">
                <span class="tm-item-action">Add to Cart</span>
                <img src="~/webdemo/img//plus.png" class="tm-item-add-icon" alt="Image">
              </a>
            </div>   
          </div>
          <div class="tm-item-container">
            <img src="~/webdemo/img//2.jpg" alt="Image">
            <p class="tm-item-description">pellentesque eu, pretium quissem</p><hr>
            <div class="tm-item-price-container">
              <span class="tm-item-price">$ 65,000</span>
              <a href="#" class="tm-item-link">
                <span class="tm-item-action">Add to Cart</span>
                <img src="~/webdemo/img//plus.png" class="tm-item-add-icon" alt="Image">
              </a>
            </div>         
          </div>
          <div class="tm-item-container">
            <img src="~/webdemo/img//2.jpg" alt="Image">
            <p class="tm-item-description">pellentesque eu, pretium quissem</p><hr>
            <div class="tm-item-price-container">
              <span class="tm-item-price">$ 20,000</span>
              <a href="#" class="tm-item-link">
                <span class="tm-item-action">Add to Cart</span>
                <img src="~/webdemo/img//plus.png" class="tm-item-add-icon" alt="Image">
              </a>
            </div>            
          </div>
          <div class="tm-item-container">
            <img src="~/webdemo/img//2.jpg" alt="Image">
            <p class="tm-item-description">pellentesque eu, pretium quissem</p><hr>
            <div class="tm-item-price-container">
              <span class="tm-item-price">$ 134,000</span>
              <a href="#" class="tm-item-link">
                <span class="tm-item-action">Add to Cart</span>
                <img src="~/webdemo/img//plus.png" class="tm-item-add-icon" alt="Image">
              </a>
            </div>            
          </div>
          <div class="tm-item-container">
            <img src="~/webdemo/img//2.jpg" alt="Image">
            <p class="tm-item-description">pellentesque eu, pretium quissem</p><hr>
            <div class="tm-item-price-container">
              <span class="tm-item-price">$ 55,000</span>
              <a href="#" class="tm-item-link">
                <span class="tm-item-action">Add to Cart</span>
                <img src="~/webdemo/img//plus.png" class="tm-item-add-icon" alt="Image">
              </a>
            </div>            
          </div>
          <div class="tm-item-container">
            <img src="~/webdemo/img//2.jpg" alt="Image">
            <p class="tm-item-description">pellentesque eu, pretium quissem</p><hr>
            <div class="tm-item-price-container">
              <span class="tm-item-price">$ 20,000</span>
              <a href="#" class="tm-item-link">
                <span class="tm-item-action">Add to Cart</span>
                <img src="~/webdemo/img//plus.png" class="tm-item-add-icon" alt="Image">
              </a>
            </div>            
          </div>
          <div class="tm-item-container">
            <img src="~/webdemo/img//2.jpg" alt="Image">
            <p class="tm-item-description">pellentesque eu, pretium quissem</p><hr>
            <div class="tm-item-price-container">
              <span class="tm-item-price">$ 134,000</span>
              <a href="#" class="tm-item-link">
                <span class="tm-item-action">Add to Cart</span>
                <img src="~/webdemo/img//plus.png" class="tm-item-add-icon" alt="Image">
              </a>
            </div>            
          </div>
          <div class="tm-item-container">
            <img src="~/webdemo/img//2.jpg" alt="Image">
            <p class="tm-item-description">pellentesque eu, pretium quissem</p><hr>
            <div class="tm-item-price-container">
              <span class="tm-item-price">$ 55,000</span>
              <a href="#" class="tm-item-link">
                <span class="tm-item-action">Add to Cart</span>
                <img src="~/webdemo/img//plus.png" class="tm-item-add-icon" alt="Image">
              </a>
            </div>            
          </div>
        </div>
        <partial name="_LeftMenuProduct" />
      </div>

      <!--banner-->
      <div class="tm-banner">
        <h2 class="tm-banner-title">Maecenas</h2>
        <p class="tm-banner-description">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium</p>
        <a href="#" class="tm-banner-link"><i class="fa fa-play"></i></a>
      </div>
    </section> <!-- Main content -->

