@using Model
@model PartnerModel
@{
    ViewData["Title"] = "AddBanner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper">
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="/partner/index">Danh sách partner</a></li>
                        <li class="breadcrumb-item active">Nhập partner</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Nhập partner</h4>
                    </div>
                    <div class="card-body">
                        <form action="/partners/Add" method="post" enctype="multipart/form-data" name="mainform">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                            <div class="form-group row">

                                <div class="col-6 col-sm-6">
                                    <div class="form-group">
                                        <label>Tên Partner</label>
                                        <input type="text" name="Name" class="form-control" asp-for="Name" placeholder="Nhập tên partner" required>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6">
                                    <div class="form-group">
                                        <label>Mô tả</label>
                                        <input class="form-control" type="text" asp-for="Description" placeholder="Nhập mô tả" />
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Đường dẫn trang web</label>
                                        <input class="form-control" type="text" asp-for="PostLink" placeholder="Nhập đường dẫn(nếu có)">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 js-ajaxUploadImages">
                                    <div class="form-group">
                                        <label>Hình ảnh</label>
                                        <input class="form-control" type="file" asp-for="FileImage" required>
                                    </div>

                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" asp-for="IsEnglish"> English
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <button class="btn btn-primary mt-5 align-items-end" type="submit">Lưu</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

